h1 {
    color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
}

li {
    color: red;
    background-color: white;
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
}